@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble-shadow {
  --b-depth: 5px;
  --b-depth-inset: calc(var(--b-depth) * -1);
  --b-blur: calc(var(--b-depth) * 1.5);
  box-shadow: inset var(--b-depth) var(--b-depth) var(--b-blur)
      rgb(0, 0, 0, 0.4),
    inset var(--b-depth-inset) var(--b-depth-inset) var(--b-blur)
      rgb(255, 255, 255, 0.4);
}

.aurora-effect {
  background: radial-gradient(
    100% 100% at 50% 20%,
    transparent 50%,
    rgb(255, 255, 255, 0.7)
  );
}
.text-shadow {
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}